.task-txt-container {
  /* background-color: red; */
  font-size: 20px;
  margin-left: 16px;
  width: 90%;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.done-task-txt {
  position: relative;
}

.done-task-txt::after {
  color: rgba(10, 25, 48, 0.6);
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
